body{
    /* 바디(백그라운드)안에 컨테이너라는 흰박스 정렬 */
    display:flex;
    /* 세로축이 메인축 */
    flex-direction: column; 
    /* 메인축은 스타트지점부터 정렬 */
    justify-content: flex-start;
    /* 중앙에있어야하니까 align축, 즉 axis, 가로축을 센터로 둠 */
     align-items: center;
     padding: 5% 0%
}


a {
    text-decoration: none;
    color: white;
}


.display{
    width: 60%;
    /* 가로길이기준, 플렉스박스의경우 세로는 내용물길이만큼 늘어남 */
    background-color: rgb(255, 255, 255);
    padding: 3% 4%;

    /* 모서리둥글게  */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2ex;
    overflow: hidden;

    display: flex;
    
}


.left{
    width: 50%;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}

.poster{
    width: 100%; 
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2ex;
    overflow: hidden;
}
.poster_0{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.reserve_button{
    width: 95%; 
    height: auto;
    background-color:rgb(201, 52, 52);
    padding:3%;
    margin: 10% 0px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2ex;
    overflow: hidden;
}
.reserve_button:hover{
    background-color:rgb(255, 71, 71);
}


.right{
    width: 100%;
    padding: 0% 0% 0% 5%;
    margin: 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detail{
    width: 90%;
    margin: 0% 0%;
    display: flex;
    flex-direction: column;
}
.info0{
    padding: 0% 0% 0% 2%;
    text-align:start;
}
.info1{
    text-align: center;
    padding: 0%;
}
.fold{
    /* display: block; */
    color:rgb(201, 52, 52);
}

.fold_info{
    display: none;
}
.fold_info.active {
    display : flex;
    text-align:start;
}

.info2{
    text-align: center;
    padding: 0.02%;
    margin: 5% 0% 3% 0%;
    border: 3px dotted rgba(212, 212, 212, 0.815);
}

.detail_button{
    width: 90%;
    margin: 3% 0%;
    display: flex;
}
.trailler{
    width: 40%; 
    height: auto;
    background-color:rgb(212, 212, 212);
    padding:3%;
    margin: 0% 3%;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2ex;
    overflow: hidden;
}
.trailler:hover{
    background-color:rgb(126, 126, 126);
}
.audience{
    width: 40%; 
    height: auto;
    background-color:rgb(212, 212, 212);
    padding:3%;
    margin: 0% 3%;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2ex;
    overflow: hidden;
}
.audience:hover{
    background-color:rgb(126, 126, 126);
}









